[Desktop Entry]
X-KDE-Solid-Predicate=Camera.supportedDrivers & 'gphoto'
Type=Service
Actions=open;

[Desktop Action open]
Exec=kioclient exec camera:/
Icon=system-file-manager
Name=Open with File Manager
Name[ast]=Abrir con Xestor de Ficheros
Name[bg]=Отваряне в файлов браузър
Name[ca]=Obre amb el gestor de fitxers
Name[da]=Åbn med filhåndtering
Name[de]=Mit Dateimanager öffnen
Name[en_GB]=Open with File Manager
Name[es]=Abrir con el gestor de archivos
Name[et]=Avamine failihalduriga
Name[gl]=Abrir co xestor de ficheiros
Name[is]=Opna með skráastjóra
Name[ko]=파일 관리자로 열기
Name[nb]=Åpne med filbehandler
Name[nds]=Mit Dateipleger opmaken
Name[nl]=Openen met bestandsbeheerder
Name[nn]=Opna med filhandsamaren
Name[pt]=Abrir com o Gestor de Ficheiros
Name[pt_BR]=Abrir com o gerenciador de arquivos
Name[sv]=Öppna med filhanterare
Name[tr]=Dosya Yöneticisi ile Aç
Name[uk]=Відкрити за допомогою менеджера файлів
Name[x-test]=xxOpen with File Managerxx
Name[zh_CN]=用文件管理器打开
Name[zh_TW]=使用檔案管理員開啟
