[Desktop Entry]
Comment=Configure Kamera
X-KDE-Keywords=gphoto,camera,digicam,webcam,kamera
X-KDE-Keywords[bg]=Keywords=фото, апарат, фотоапарат, камера, цифров, цифрова, gphoto, camera, digicam, webcam, kamera
X-KDE-Keywords[br]=gphoto,kamera,digicam,webcam,kamera
X-KDE-Keywords[ca]=gphoto,càmera,digicam,webcam,kamera
X-KDE-Keywords[cs]=gphoto,Kamera,Digitální kamera,Webová kamera,Foto
X-KDE-Keywords[da]=gphoto,kamera,digicam,webcam
X-KDE-Keywords[de]=gphoto,Kamera,Digicam,Webcam,Digitalkamera
X-KDE-Keywords[el]=gphoto,κάμερα,digicam,webcam,kamera
X-KDE-Keywords[eo]=gphoto,kamerao,fotilo,cifereca fotilo,TTT-fotilo
X-KDE-Keywords[es]=gphoto,cámara,digicam,webcam,kamera
X-KDE-Keywords[et]=gphoto,kaamera,digitaalkaamera,veebikaamera,kamera
X-KDE-Keywords[eu]=gphoto,kamera,digicam,webcam,kamera
X-KDE-Keywords[fa]=gphoto، دوربین، دوربین رقمی، دوربین وب، kamera
X-KDE-Keywords[fi]=gphoto,kamera,digicam,webcam
X-KDE-Keywords[fr]=gphoto,camera,digicam,webcam,kamera,caméscope,caméra,appareil photo
X-KDE-Keywords[ga]=gphoto,ceamara,digicam,ceamara Gréasáin,kamera
X-KDE-Keywords[gl]=gphoto,camara,digicam,webcam,kamera
X-KDE-Keywords[he]=gphoto,kamera,מצלמה,מצלמת רשת,מצלמה דיגיטלית, amera,digicam,webcam
X-KDE-Keywords[hu]=gphoto,fényképezőgép,digitális fényképezőgép,webkamera,videókamera
X-KDE-Keywords[is]=gphoto,myndavél,stafræn myndavél,webcam,kamera
X-KDE-Keywords[it]=gphoto,fotocamera,macchina fotografica digitale,webcam,kamera
X-KDE-Keywords[ja]=gphoto,カメラ,デジカム,ウェブカム,kamera
X-KDE-Keywords[km]=gphoto,ម៉ាស៊ីន​ថត​រូប,digicam,ម៉ាស៊ីនថត​តាម​បណ្ដាញ,kamera
X-KDE-Keywords[ko]=gphoto,kamera,사진,카메라,사진기,웹캠
X-KDE-Keywords[lv]=gphoto,kamera,digicam,webkamera,kamera
X-KDE-Keywords[nb]=gphoto,kamera,digicam,webcam,webkamera
X-KDE-Keywords[nds]=gphoto,Kamera,Webcam,Nettkamera
X-KDE-Keywords[ne]=जीफोटो, क्यामेरा, डिजिक्याम, वेबक्याम, कामेरा
X-KDE-Keywords[nl]=gphoto,camera,digicam,webcam,kamera,foto
X-KDE-Keywords[nn]=gphoto,fotoapparat,digitalt kamera,webkamera,vevkamera,kamera
X-KDE-Keywords[pl]=gphoto,kamera,kamera cyfrowa,kamera sieciowa
X-KDE-Keywords[pt]=gphoto,câmara,digicam,webcam,kamera
X-KDE-Keywords[pt_BR]=gphoto,câmera,câmera digital,webcam,kamera
X-KDE-Keywords[ro]=gphoto,aparat,foto,digicam,webcam,camera,kamera
X-KDE-Keywords[ru]=gphoto,camera,digicam,webcam,kamera,камера,фото
X-KDE-Keywords[sl]=gphoto,kamera,digicam,webcam,foto,fotoaparat,spletna kamera
X-KDE-Keywords[sr]=gphoto,camera,digicam,webcam,kamera,камера
X-KDE-Keywords[sr@latin]=gphoto,camera,digicam,webcam,kamera,kamera
X-KDE-Keywords[sv]=gphoto,kamera,digital kamera,webbkamera,kamera
X-KDE-Keywords[ta]=ஜிபோட்டோ, காமிரா, டிஜிகேம்,வலைதள காமிரா, காமிரா
X-KDE-Keywords[tg]=gphoto,camera,digicam,webcam,kamera,камера,фото
X-KDE-Keywords[tr]=gphoto,kamera,digicam,web kamera,Kamera,webcam
X-KDE-Keywords[uk]=gphoto,камера,цифрова камера,камера Тенет,kamera
X-KDE-Keywords[x-test]=xxgphoto,camera,digicam,webcam,kameraxx
X-KDE-Keywords[xh]=gphoto,umfoti,digicam,webcam,umfoti
X-KDE-Keywords[zh_CN]=gphoto,camera,digicam,webcam,kamera,照相机,数码相机,摄像头
X-KDE-Keywords[zh_TW]=gphoto,camera,digicam,webcam,kamera,照相機
Name=Digital Camera
Terminal=false
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kamera
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-ModuleType=Library
Icon=camera-photo
Exec=kcmshell4 kamera
X-DocPath=kcontrol/kamera/index.html
Categories=Qt;KDE;X-KDE-settings-hardware;
