[Desktop Entry]
Comment=Configure Kamera
Comment[af]=Konfigureer Kamera
Comment[ar]=إعداد Kamera
Comment[az]=Kameranı Quraşdır
Comment[bg]=Настройване на цифров фотоапарат
Comment[br]=Kefluniañ Kamera
Comment[bs]=Podesi kameru
Comment[ca]=Configura Kamera
Comment[cs]=Nastavení Kamery
Comment[cy]=Ffurfweddu Kamera
Comment[da]=Indstil kamera
Comment[de]=Kamera einrichten
Comment[el]=Ρύθμιση Kamera
Comment[eo]=Agordu fotilon
Comment[es]=Configura Kamera
Comment[et]=Kaamera seadistamine
Comment[eu]=Konfiguratu Kamera
Comment[fa]=پیکربندی Kamera
Comment[fi]=Kameran asetukset
Comment[fr]=Configuration de Kamera
Comment[ga]=Cumraigh Kamera
Comment[gl]=Configurar Kamera
Comment[he]=שינוי הגדרות Kamera
Comment[hi]=कॉन्फ़िगर केमरा
Comment[hr]=Podesi Kameru
Comment[hu]=A digitális fényképezőgépek beállításai
Comment[id]=Konfigurasi kamera
Comment[is]=Stilla samskiptaforrit stafrænna myndavéla (Kamera)
Comment[it]=Configura Kamera
Comment[ja]=カメラの設定
Comment[kk]=Kamera баптаулары
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ Kamera
Comment[ko]=카메라 설정
Comment[lt]=Konfigūruoti Kamera
Comment[mk]=Конфигурирајте ја Kamera
Comment[ms]=Konfigurasi Kamera
Comment[mt]=Ikkonfigura Kamera
Comment[nb]=Tilpass Kamera
Comment[nds]=Kamera instellen
Comment[ne]=क्यामेरा कन्फिगर गर्नुहोस्
Comment[nl]=Camera instellen
Comment[nn]=Set opp Kamera
Comment[nso]=Beakanya Kamera
Comment[pa]=ਕੈਮਰਾ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja Kamery
Comment[pt]=Configuração do Kamera
Comment[pt_BR]=Configurar Kamera
Comment[ro]=Configurează aparatul foto digital
Comment[ru]=Настройка камеры
Comment[se]=Heivet govvenapperáhta
Comment[sk]=Nastaviť program Kamera
Comment[sl]=Nastavitve fotoaparata
Comment[sr]=Подеси Kamera-у
Comment[sr@Latn]=Podesi Kamera-u
Comment[sv]=Anpassa kamera
Comment[ta]=காமிராவை அமை
Comment[tg]=Танзимоти камера
Comment[th]=ปรับแต่ง Kamera
Comment[tr]=Kamera'yı Yapılandır
Comment[uk]=Налаштувати Kamera
Comment[uz]=Fotoaparatni moslash
Comment[uz@cyrillic]=Фотоапаратни мослаш
Comment[ven]=Dzudzanya kamera
Comment[xh]=Qwalasela Umfoti
Comment[zh_CN]=配置 Kamera
Comment[zh_HK]=設定 Kamera
Comment[zh_TW]=設定照相機
Comment[zu]=Hlanganisa ikhamera
Keywords=gphoto,camera,digicam,webcam,kamera
Keywords[ar]=gphoto,كاميرا,كاميرا رقمية,كاميرا ويب,kamera
Keywords[az]=gphoto,kamera,digicam,veb kamera,Kamera,webcam
Keywords[bg]=фото, апарат, фотоапарат, камера, цифров, цифрова, gphoto, camera, digicam, webcam, kamera
Keywords[br]=gphoto,kamera,digicam,webcam,kamera
Keywords[ca]=gphoto,càmera,digicam,webcam,kamera
Keywords[cs]=gphoto,Kamera,Digitální kamera,Webová kamera,Foto
Keywords[da]=gphoto,kamera,digicam,webcam
Keywords[de]=gphoto,Kamera,Digicam,Webcam,Digitalkamera
Keywords[el]=gphoto,κάμερα,digicam,webcam,kamera
Keywords[eo]=gphoto,kamerao,fotilo,cifereca fotilo,TTT-fotilo
Keywords[es]=gphoto,cámara,digicam,webcam,kamera
Keywords[et]=gphoto,kaamera,digitaalkaamera,veebikaamera,kamera
Keywords[eu]=gphoto,kamera,digicam,webcam,kamera
Keywords[fa]=gphoto، دوربین، دوربین رقمی، دوربین وب، kamera
Keywords[fi]=gphoto,kamera,digicam,webcam
Keywords[fr]=gphoto,camera,digicam,webcam,kamera,caméscope,caméra,appareil photo
Keywords[he]=gphoto,kamera,מצלמה,מצלמת רשת,מצלמה דיגיטלית, amera,digicam,webcam
Keywords[hi]=जीफोटो,केमरा,डिजिकेम,वेबकेम,केमरा
Keywords[hu]=gphoto,fényképezőgép,digitális fényképezőgép,webkamera,videókamera
Keywords[is]=gphoto,myndavél,stafræn myndavél,webcam,kamera
Keywords[it]=gphoto,fotocamera,macchina fotografica digitale,webcam,kamera
Keywords[ja]=gphoto,カメラ,デジカム,ウェブカム,kamera
Keywords[km]=gphoto,ម៉ាស៊ីន​ថត​រូប,digicam,ម៉ាស៊ីនថត​តាម​បណ្ដាញ,kamera
Keywords[ko]=gphoto,camera,digicam,webcam,kamera,사진,카메라,사진기,웹캠
Keywords[lv]=gfoto,camera,digicam,webcam,kamera
Keywords[nb]=gphoto,kamera,digicam,webcam,webkamera
Keywords[nds]=gphoto,Kamera,Webcam,Kamera,Nettkamera
Keywords[ne]=जी फोटो, क्यामेरा, डिजिक्याम, वेबक्याम, कामेरा
Keywords[nl]=gphoto,camera,digicam,webcam,kamera,foto
Keywords[nn]=gphoto,fotoapparat,digitalt kamera,webkamera,vevkamera,kamera
Keywords[pl]=gphoto,kamera,kamera cyfrowa,kamera sieciowa
Keywords[pt]=gphoto,câmara,digicam,webcam,kamera
Keywords[pt_BR]=gphoto,câmera,câmera digital,webcam,kamera
Keywords[ro]=gphoto,aparat,foto,digicam,webcam,camera,kamera
Keywords[ru]=gphoto,camera,digicam,webcam,kamera,камера,фото
Keywords[sl]=gphoto,kamera,digicam,webcam,foto,fotoaparat,spletna kamera
Keywords[sr]=gphoto,camera,digicam,webcam,kamera,камера
Keywords[sr@Latn]=gphoto,camera,digicam,webcam,kamera,kamera
Keywords[sv]=gphoto,kamera,digital kamera,webbkamera,kamera
Keywords[ta]=ஜிபோட்டோ, காமிரா, டிஜிகேம்,வலைதள காமிரா, காமிரா
Keywords[tg]=gphoto,camera,digicam,webcam,kamera,камера,фото
Keywords[tr]=gphoto,kamera,digicam,web kamera,Kamera,webcam
Keywords[uk]=gphoto,камера,цифрова камера,камера Тенет,kamera
Keywords[ven]=Tshinepe tsha g,Tshaudzhia zwifanyiso,digicam,webcam,Tshaudzhiazwifanyiso
Keywords[xh]=gphoto,umfoti,digicam,webcam,umfoti
Keywords[zh_CN]=gphoto,camera,digicam,webcam,kamera,照相机,数码相机,摄像头
Keywords[zh_TW]=gphoto,camera,digicam,webcam,kamera,照相機
Keywords[zu]=gphoto,ikhamera,digicam,webcam,ikhamera
Name=Digital Camera
Name[af]=Digitaal Kamera
Name[ar]=كاميرا رقمية
Name[az]=Digital Kamera
Name[bg]=Фотоапарат
Name[br]=Kamera niverel
Name[bs]=Digitalna kamera
Name[ca]=Càmera digital
Name[cs]=Digitální fotoaparát
Name[cy]=Camera Digidol
Name[da]=Digitalt kamera
Name[de]=Digitalkamera
Name[el]=Ψηφιακή κάμερα
Name[eo]=Cifereca fotilo
Name[es]=Cámara digital
Name[et]=Digitaalkaamera
Name[eu]=Kamera digitala
Name[fa]=دوربین رقمی
Name[fi]=Digitaalikamera
Name[fr]=Appareil photo numérique
Name[ga]=Ceamara Digiteach
Name[gl]=Cámara dixital
Name[he]=מצלמה דיגיטלית
Name[hi]=डिजिटल कैमरा
Name[hr]=Digitalna kamera
Name[hu]=Digitális fényképezőgép
Name[is]=Stafræn myndavél
Name[it]=Macchina fotografica digitale
Name[ja]=デジタルカメラ
Name[kk]=Цифрлық камера
Name[km]=ម៉ាស៊ីន​ថតរូប​ឌីជីថល
Name[lt]=Skaitmeninė kamera
Name[lv]=Digitālā Kamera
Name[mk]=Дигитална камера
Name[ms]=Kamera Digital
Name[mt]=Kamera diġitali
Name[nb]=Digitalkamera
Name[nds]=Digitaalkamera
Name[ne]= डिजिटल क्यामेरा
Name[nl]=Digitale camera
Name[nn]=Digitalkamera
Name[nso]=Camera ya Digital
Name[pa]=ਡਿਜ਼ੀਟਲ ਕੈਮਰਾ
Name[pl]=Aparat cyfrowy
Name[pt]=Máquina Fotográfica Digital
Name[pt_BR]=Câmera Digital
Name[ro]=Aparat foto digital
Name[ru]=Цифровая камера
Name[se]=Digitalalaš govvenapperáhtta
Name[sk]=Digitálny fotoaparát
Name[sl]=Digitalni fotoaparat
Name[sr]=Дигитална камера
Name[sr@Latn]=Digitalna kamera
Name[sv]=Digitalkamera
Name[ta]= Digital Camera
Name[tg]=Камераи digital
Name[th]=กล้องดิจิตอล
Name[tr]=Sayısal Kamera
Name[uk]=Цифровий фотоапарат
Name[uz]=Fotoaparat
Name[uz@cyrillic]=Фотоапарат
Name[ven]=Tshau dzhia zwifanyiso tsha didzhithala
Name[xh]=Ikhamera Yesuntswana
Name[zh_CN]=数码相机
Name[zh_HK]=數碼相機
Name[zh_TW]=數位相機
Name[zu]=Ikhamera ebonisa inani ngalinye
Terminal=false
Type=Application
X-KDE-Library=kamera
X-KDE-ModuleType=Library
Icon=camera
Exec=kcmshell kamera
DocPath=kamera/index.html
Categories=Qt;KDE;Settings;X-KDE-settings-hardware;
